.kloader{
  // margin: 0 0 2em;
  height: 100%;
  width: 100%;
  text-align: center;
  // padding: 1em;
  // margin: 0 auto 1em;
    img{
      width: 30px;
      height: 25px;
    }
  svg path,
svg rect{
  fill: #fff;
}
}